.nanogallery_theme_light {
	font-size: 1.0em;
	line-height: normal;
	padding: 0;
	margin: 0 auto;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	overflow: hidden;
	visibility: visible
}
.nanogallery_theme_light .nanoGalleryNavigationbarContainer {
	margin: 5px auto;
	padding: 5px 0;
	display: block
}
.nanogallery_theme_light .nanoGalleryNavigationbar {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	padding: 0;
	text-align: left;
	display: table;
	width: 100%
}
.nanogallery_theme_light .setFullPageButton {
	margin: 10px 0 1px 1px;
	padding: 4px;
	display: table-cell;
	cursor: pointer;
	vertical-align: middle
}
.nanogallery_theme_light .setFullPageButton:after {
	content: '\f065';
	margin-left: .2em;
	margin-right: .3em;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none
}
.nanogallery_theme_light .removeFullPageButton {
	margin: 10px 0 1px 1px;
	padding: 4px;
	display: table-cell;
	cursor: pointer;
	vertical-align: middle
}
.nanogallery_theme_light .removeFullPageButton:after {
	content: '\f066';
	margin-left: .2em;
	margin-right: .3em;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none
}
.nanogallery_theme_light.fullpage {
	display: block;
	background-color: #000;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	clear: both;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 20px 10px 20px
}
.nanogallery_theme_light .nanoGalleryContainerParent {
	position: relative;
	text-align: center;
	margin: 0 auto;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryContainer {
	text-align: left;
	position: relative;
	width: auto;
	display: inline-block;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	overflow: hidden
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer {
	cursor: pointer;
	border: 1px solid #fff;
	margin: 0;
	padding: 0;
	background-color: #000;
	display: inline-block;
	position: absolute;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	overflow: hidden
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .subcontainer {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	margin: 0;
	padding: 0;
	overflow: hidden
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .imgContainer {
	position: relative;
	overflow: hidden;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	vertical-align: bottom;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImage {
	background-color: #222;
	opacity: 1;
	text-align: left;
	padding: 5px;
	left: 0;
	position: absolute;
	min-height: 0;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImageTitle {
	color: #eee;
	left: 0;
	overflow: hidden;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImageTitle:before {
	content: '\f03e';
	margin-right: .3em;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelFolderTitle {
	color: #eee;
	left: 0;
	overflow: hidden;
	vertical-align: middle;
	display: inline;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box
}
.nanogallery_theme_light .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelDescription {
	clear: both;
	color: #aaa;
	left: 0;
	font-size: .7em;
	margin: 1px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box
}
.nanogallery_theme_light .nanoGalleryContainerParent .nanoGalleryPagination {
	margin: 10px auto 5px auto;
	padding: 4px;
	text-align: center;
	position: relative;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	overflow: hidden;
	white-space: nowrap
}
.nanogallery_theme_light .nanoGalleryContainerParent .nanoGalleryPagination .paginationItem {
	margin: 0 5px;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block
}
.nanogallery_theme_light .nanoGalleryContainerParent .nanoGalleryPagination .currentPage {
	text-decoration: underline
}
.nanogallery_theme_light .nanoGalleryContainerParent .nanoGalleryPagination .paginationPrev {
	margin: 0 5px;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block
}
.nanogallery_theme_light .nanoGalleryContainerParent .nanoGalleryPagination .paginationNext {
	margin: 0 5px;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block
}
.nanogallery_theme_light .nanoGalleryViewer {
	display: block;
	background-color: rgba(1, 1, 1, 0.85);
	text-align: center;
	position: fixed;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	clear: both
}
.nanogallery_theme_light .nanoGalleryViewer .closeButtonFloating {
	cursor: pointer;
	right: 0;
	top: 0;
	padding: 5px 5px 25px 25px;
	position: absolute;
	opacity: 1;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease
}
.nanogallery_theme_light .nanoGalleryViewer .closeButtonFloating:after {
	color: #ddd;
	background: rgba(0, 0, 0, 0.2);
	padding: 5px 0 5px 5px;
	content: '\f00d';
	font-size: 1.5em;
	Text-Shadow: #000 1px 0 0, #000 1px 1px 0, #000 1px -1px 0, #000 -1px 1px 0, #000 -1px 0 0, #000 -1px -1px 0, #000 0 1px 0, #000 0 -1px 0;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none
}
.nanogallery_theme_light .nanoGalleryViewer .closeButtonFloating:hover {
	opacity: .3
}
.nanogallery_theme_light .nanoGalleryViewer .content {
	position: absolute;
	clear: both;
	padding: 5px;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .content img {
	background: url('../img/loading.gif') no-repeat center;
	border: 4px solid #f8f8f8;
	padding: 0;
	min-width: 30px;
	min-height: 30px;
	box-shadow: #888 0 0 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .content .imgCurrent {
	cursor: pointer
}
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaPrevious {
	color: #ddd;
	display: block;
	position: absolute;
	top: 50%;
	padding: 50px 25px 50px 0;
	margin-top: -65px;
	left: 0;
	text-align: left;
	cursor: pointer;
	opacity: 1;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaPrevious:after {
	content: '\f053';
	background: rgba(0, 0, 0, 0.2);
	padding: 5px 0
}
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaNext {
	color: #ddd;
	display: block;
	position: absolute;
	top: 50%;
	padding: 50px 0 50px 25px;
	margin-top: -65px;
	right: 0;
	text-align: right;
	cursor: pointer;
	opacity: 1;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaNext:after {
	content: '\f054';
	background: rgba(0, 0, 0, 0.2);
	padding: 5px 0
}
.nanogallery_theme_light .nanoGalleryViewer .toolbarContainer {
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: inline-block;
	position: absolute
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	min-width: 50px;
	background: rgba(4, 4, 4, 0.7);
	color: #eee;
	margin: 1px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .ngbt {
	display: table-cell;
	cursor: pointer;
	padding: 5px;
	vertical-align: middle;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaPrevious:after,
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaNext:after {
	font-size: 1.5em;
	margin-left: .2em;
	margin-right: .2em;
	Text-Shadow: #000 1px 0 0, #000 1px 1px 0, #000 1px -1px 0, #000 -1px 1px 0, #000 -1px 0 0, #000 -1px -1px 0, #000 0 1px 0, #000 0 -1px 0;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .ngbt:after {
	font-size: 1.5em;
	margin-left: .2em;
	margin-right: .2em;
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	opacity: 1;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease
}
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaPrevious:hover,
.nanogallery_theme_light .nanoGalleryViewer .content .contentAreaNext:hover,
.nanogallery_theme_light .nanoGalleryViewer .toolbar .previousButton:ngbt:after {
	opacity: .3
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .previousButton:after {
	content: '\f053'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .nextButton:after {
	content: '\f054'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .closeButton:after {
	content: '\f00d'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .playButton:after {
	content: '\f04b'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .pauseButton:after {
	content: '\f04c'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .setFullscreenButton:after {
	content: '\f065'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .removeFullscreenButton:after {
	content: '\f066'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .infoButton:after {
	content: '\f129'
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .viewToolbarButton:after{
	content: '\f0c9';
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .hideToolbarButton:after{
	content: '\f142';
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .pageCounter {
	display: table-cell;
	font-size: 1em;
	margin: auto;
	vertical-align: middle;
	overflow: hidden;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .label {
	padding: 3px 20px 3px 10px;
	min-width: 10px;
	border-left: 0 solid #000;
	overflow: hidden;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	font-size: 1em;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	background-color: initial
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .label .title {
	font-size: 1em;
	margin: auto;
	vertical-align: middle;
	overflow: hidden;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryViewer .toolbar .label .description {
	font-size: .8em;
	display: table-row;
	vertical-align: middle;
	overflow: hidden;
	color: #aaa;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box
}
.nanogallery_theme_light .nanoGalleryConsoleParent {
	visibility: hidden;
	height: 0;
	background: #111;
	color: #e00;
	padding: 5px;
	margin: 2px
}
.nanogallery_theme_light .nanoGalleryConsoleParent p {
	color: #e00;
	padding: 2px;
	margin: 0
}
.nanogallery_theme_light .nanoGalleryLBar {
	position: relative;
	height: 1px;
	width: 100%;
	height: 2px;
	margin: 0 0 1px 0;
	background-color: #555
}
.nanogallery_theme_light .nanoGalleryLBar>div {
	position: absolute;
	width: 50px;
	height: 2px;
	top: 0;
	opacity: .7
}
.nanogallery_theme_light .nanoGalleryLBar>div:nth-child(1) {
	-webkit-animation: nanoGalleryLBarAnim 2s -.2s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-moz-animation: nanoGalleryLBarAnim 2s -.2s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-ms-animation: nanoGalleryLBarAnim 2s -.2s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-o-animation: nanoGalleryLBarAnim 2s -.2s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	animation: nanoGalleryLBarAnim 2s -.2s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	background: #111
}
.nanogallery_theme_light .nanoGalleryLBar>div:nth-child(2) {
	-webkit-animation: nanoGalleryLBarAnim 2s -.4s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-moz-animation: nanoGalleryLBarAnim 2s -.4s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-ms-animation: nanoGalleryLBarAnim 2s -.4s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-o-animation: nanoGalleryLBarAnim 2s -.4s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	animation: nanoGalleryLBarAnim 2s -.4s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	background: #333
}
.nanogallery_theme_light .nanoGalleryLBar>div:nth-child(3) {
	-webkit-animation: nanoGalleryLBarAnim 2s -.6s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-moz-animation: nanoGalleryLBarAnim 2s -.6s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-ms-animation: nanoGalleryLBarAnim 2s -.6s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-o-animation: nanoGalleryLBarAnim 2s -.6s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	animation: nanoGalleryLBarAnim 2s -.6s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	background: #999
}
.nanogallery_theme_light .nanoGalleryLBar>div:nth-child(4) {
	-webkit-animation: nanoGalleryLBarAnim 2s -.8s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-moz-animation: nanoGalleryLBarAnim 2s -.8s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-ms-animation: nanoGalleryLBarAnim 2s -.8s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-o-animation: nanoGalleryLBarAnim 2s -.8s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	animation: nanoGalleryLBarAnim 2s -.8s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	background: #777
}
.nanogallery_theme_light .nanoGalleryLBar>div:nth-child(5) {
	-webkit-animation: nanoGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-moz-animation: nanoGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-ms-animation: nanoGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	-o-animation: nanoGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	animation: nanoGalleryLBarAnim 2s -1s infinite cubic-bezier(0, 0.6, 0.9, 0.0);
	background: #ddd
}
@-webkit-keyframes nanoGalleryLBarAnim {
	0% {
		left: 10%
	}
	100% {
		left: 90%
	}
}
@-moz-keyframes nanoGalleryLBarAnim {
	0% {
		left: 10%
	}
	100% {
		left: 90%
	}
}
@-ms-keyframes nanoGalleryLBarAnim {
	0% {
		left: 10%
	}
	100% {
		left: 90%
	}
}
@-o-keyframes nanoGalleryLBarAnim {
	0% {
		left: 10%
	}
	100% {
		left: 90%
	}
}
@keyframes nanoGalleryLBarAnim {
	0% {
		left: 10%
	}
	100% {
		left: 90%
	}
}