body,
html {
    height: 100%
}
body {
    padding-top: 45px;
}
.preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 9999999;
}
.preloader .loader-item {
    margin: 100px auto 0;
    width: 70px;
    height: 70px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar-brand {
    font-family: 'Shadows Into Light Two';
    font-size: 30px
}
.navbar-default {
    background-color: #8BC34A;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #689F38;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #7CB342;
}
.carousel {
    height: 60%;
    margin-bottom: 30px
}
.item,
.carousel-inner {
    height: 100%
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover
}
.section {
    margin-bottom: 30px;
    padding: 30px 0
}
.section h1 {
    text-align: center;
    margin-bottom: 30px
}
.highlighted {
    background: #f4f4f4
}
.fa-5x {
    color: #558B2F;
}
.btn-primary {
    color: #000000;
    background-color: #CDDC39;
    border-color: #C0C500;
}
a.btn-primary:hover {
    color: #000000;
    background-color: #AFB42B;
    border-color: #C0C500;
}
.breadcrumb .active a {
    color: #333
}
.breadcrumb .active a:hover {
    text-decoration: none
}
figure {
    margin-bottom: 50px;
}
figcaption {
    font-size: 26px;
    text-align: center;
    margin-top: -15px
}
.more-button {
    margin: 50px 0;
}
.dropzone {
    margin-bottom: 30px;
}
.sortable {
    cursor: move
}
.tr-placeholder {
    height: 85px;
    width: 100%;
    background: #fffeee
}
.featurette-divider {
    margin: 80px 0
}
.featurette {
    padding-top: 80px;
    overflow: hidden
}
.featurette .lead {
    font-size: 18px
}
.featurette-image {
    margin-top: -60px
}
.featurette-image.pull-left {
    margin-right: 40px
}
.featurette-image.pull-right {
    margin-left: 40px
}
.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px
}
/* carousel */
#quote-carousel
{
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
    right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
    background: #333333;
}
#quote-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
article {
    margin-bottom: 40px
}
article .article-image {
    margin: 20px auto
}
article header a {
    color: #000
}
article header a:hover {
    color: #000;
    text-decoration: none
}
article .article-info {
    color: #707070;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}
article .article-body {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd
}
address h3 {
    margin: 0 0 -15px 0
}
.social {
    margin: 5px 0 0
}
.social a {
    color: #222
}
.social a:hover {
    color: #222;
    text-decoration: none
}
footer {
    padding-bottom: 100px;
}
footer a {
    color: #707070;
    font-size: 16px;
}
footer a:hover {
    color: #3a3a3a;
    text-decoration: none
}
.social {
    margin: 5px 0 0
}
.social a:hover {
    color: #222;
    text-decoration: none
}