{% extends "layout/layout.html" %}

{% block description %}{{ CONFIG.home_description|raw }}{% endblock %}
{% block keywords %}{{ CONFIG.home_keywords }}{% endblock %}

{% block metas %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ URL }}">
{% endblock %}

{% block js %}
    <script>
    $('#quote-carousel').carousel({
        pause: true,
        interval: 4000
    });
    </script>
{% endblock %}

{% block body %}
    {% include 'home/slider.html' %}
    <main>
        <!-- Marketing -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center wow fadeInLeft">
                        <i class="fa fa-cog fa-5x"></i>
                        <h2>Работа на результат</h2>
                        <p>Мы делаем фото для Вас со всей душой и сердцем, прикладывая для этого максимум усилий, чтобы запечатлить <b>самые важные и интересные моменты Вашей жизни</b>. К каждой фотосессии, к каждому заказчику у нас отношение, как съемка производится лично для себя.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInUp">
                        <i class="fa fa-cloud-download fa-5x"></i>
                        <h2>Облачное хранилище</h2>
                        <p>Весь отснятый материал мы храним на своем сервере полгода. Это удобно тем, что если вдруг у Вас потерялись фотографии (сломался винчестер, собака поточила зубки о диск или ребенок решил, что это летающая тарелка), то на протяжении полугода, Вы можете по предоставленной ссылке скачать фото.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInRight">
                        <i class="fa fa-thumbs-up fa-5x"></i>
                        <h2>Качество</h2>
                        <p>Используется профессиональная техника для создания красивых и интересных фотографий. Применяя свой опыт и желание создать и передать красоту в снимке, даже если Вы не верите в свою фото гигиеничность.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Albums -->
        <section class="highlighted section">
            <div class="container">
                <h1 class="wow fadeInUp">Портфолио</h1>

                <div class="row">
                    {% for album in albums %}
                        {% include 'portfolio/loop.html' %}
                    {% endfor %}
                </div>

                <a href="{{ URL }}/portfolio" class="btn btn-primary btn-block more-button wow fadeIn">Больше фото</a>
            </div>
        </section>

        <!-- Reviews -->
        <section class="section">
            <div class="container">
                <h1 class="wow fadeInUp">
                    Последние отзывы
                    {% if LOGIN %}
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addReviewModal">
                        <i class="fa fa-pencil"></i> Добавить
                    </button>
                    {% endif %}
                </h1>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8 wow fadeInLeft">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                {% for review in reviews %}
                                    <li data-target="#quote-carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                                {% for review in reviews %}
                                    <div class="item {% if loop.first %}active{% endif %}">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-sm-3 text-center">
                                                    <img class="img-circle" src="{{ URL }}/uploads/reviews/{{ review.id }}.jpg" style="width: 100px;height:100px;">
                                                </div>
                                                <div class="col-sm-9">
                                                    <p>{{ review.review }}</p>
                                                    <small>{{ review.author }}</small>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Featurettes -->
        <section class="highlighted section">
            <div class="container">
                <h1 class="wow fadeInUp">Популярные услуги</h1>

                {% for price in prices %}
                    {% include 'prices/loop.html' %}
                {% endfor %}

                <a href="{{ URL }}/prices" class="btn btn-primary btn-block more-button wow fadeIn">Больше услуг</a>
            </div>
        </section>
    </main>

    {% if LOGIN %}
        <!-- Add modal -->
        <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Закрыть</span>
                        </button>
                        <h4 class="modal-title" id="addReviewModalLabel">Добавить отзыв</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data"
                              method="POST"
                              action="{{ URL }}/home/addReview"
                              id="addForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label for="author" class="col-sm-2 control-label">Автор</label>
                                <div class="col-sm-10">
                                    <input type="text" name="author" class="form-control" id="author" required>
                                    <p class="help-block">Автор отзыва</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo" class="col-sm-2 control-label">Фото</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                    <input type="file" name="photo" class="form-control" id="photo" accept="image/jpg" required>
                                    <p class="help-block"><b>jpg</b>, не больше <b>500KB</b> и <b>100x100px</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="review" class="col-sm-2 control-label">Отзыв</label>
                                <div class="col-sm-10">
                                    <textarea name="review" id="review" class="form-control" rows="3" required></textarea>
                                    <p class="help-block">Текст отзыва</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" form="addForm" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add modal -->
    {% endif %}
{% endblock %}