<section id="slider" class="carousel slide wow fadeIn" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
        <li data-target="#slider" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url({{ URL }}/uploads/slider/1.jpg)"></div>
            <div class="carousel-caption">
                <h2>Свадебные фото</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({{ URL }}/uploads/slider/2.jpg)"></div>
            <div class="carousel-caption">
                <h2>Свадебные фото</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({{ URL }}/uploads/slider/3.jpg)"></div>
            <div class="carousel-caption">
                <h2>Природа</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url({{ URL }}/uploads/slider/4.jpg)"></div>
            <div class="carousel-caption">
                <h2>Предметная фотосъемка</h2>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#slider" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#slider" data-slide="next">
        <span class="icon-next"></span>
    </a>
</section>