{% extends "layout/layout.html" %}

{% block title %}Админпанель{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Админпанель</h1>

        {% if MSG %}
            <div class="alert alert-info">{{ MSG|raw }}</div>
        {% endif %}

        <a href="{{ URL }}/dashboard/cache" class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o"></i> Удалить кеш
        </a>
        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addAdminModal">
            <i class="fa fa-user"></i> Добавить администратора
        </a>

        <h2 class="page-header">Настройки</h2>

        <form method="POST"
              action="{{ URL }}/dashboard/save"
              class="form-horizontal"
              role="form">
            <div class="form-group">
                <label for="home_title" class="col-sm-2 control-label">Заголовок главной</label>
                <div class="col-sm-8">
                    <textarea name="cfg[home_title]" id="home_title" class="form-control">{{ CONFIG.home_title|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="home_description" class="col-sm-2 control-label">Описание главной</label>
                <div class="col-sm-8">
                    <textarea name="cfg[home_description]" id="home_description" class="form-control">{{ CONFIG.home_description|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="home_keywords" class="col-sm-2 control-label">Ключевые слова главной</label>
                <div class="col-sm-8">
                    <textarea name="cfg[home_keywords]" id="home_keywords" class="form-control">{{ CONFIG.home_keywords }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="portfolio_title" class="col-sm-2 control-label">Заголовок портфолио</label>
                <div class="col-sm-8">
                    <textarea name="cfg[portfolio_title]" id="portfolio_title" class="form-control">{{ CONFIG.portfolio_title|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="portfolio_description" class="col-sm-2 control-label">Описание портфолио</label>
                <div class="col-sm-8">
                    <textarea name="cfg[portfolio_description]" id="portfolio_description" class="form-control">{{ CONFIG.portfolio_description|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="portfolio_keywords" class="col-sm-2 control-label">Ключевые слова портфолио</label>
                <div class="col-sm-8">
                    <textarea name="cfg[portfolio_keywords]" id="portfolio_keywords" class="form-control">{{ CONFIG.portfolio_keywords }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="prices_title" class="col-sm-2 control-label">Заголовок цен</label>
                <div class="col-sm-8">
                    <textarea name="cfg[prices_title]" id="prices_title" class="form-control">{{ CONFIG.prices_title|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="prices_description" class="col-sm-2 control-label">Описание цен</label>
                <div class="col-sm-8">
                    <textarea name="cfg[prices_description]" id="prices_description" class="form-control">{{ CONFIG.prices_description|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="prices_keywords" class="col-sm-2 control-label">Ключевые слова цен</label>
                <div class="col-sm-8">
                    <textarea name="cfg[prices_keywords]" id="prices_keywords" class="form-control">{{ CONFIG.prices_keywords }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="articles_title" class="col-sm-2 control-label">Заголовок статей</label>
                <div class="col-sm-8">
                    <textarea name="cfg[articles_title]" id="articles_title" class="form-control">{{ CONFIG.articles_title|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="articles_description" class="col-sm-2 control-label">Описание статей</label>
                <div class="col-sm-8">
                    <textarea name="cfg[articles_description]" id="articles_description" class="form-control">{{ CONFIG.articles_description|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="articles_keywords" class="col-sm-2 control-label">Ключевые слова статей</label>
                <div class="col-sm-8">
                    <textarea name="cfg[articles_keywords]" id="articles_keywords" class="form-control">{{ CONFIG.articles_keywords }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="contacts_title" class="col-sm-2 control-label">Заголовок контактов</label>
                <div class="col-sm-8">
                    <textarea name="cfg[contacts_title]" id="contacts_title" class="form-control">{{ CONFIG.contacts_title|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="contacts_description" class="col-sm-2 control-label">Описание контаков</label>
                <div class="col-sm-8">
                    <textarea name="cfg[contacts_description]" id="contacts_description" class="form-control">{{ CONFIG.contacts_description|raw }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="contacts_keywords" class="col-sm-2 control-label">Ключевые слова контаков</label>
                <div class="col-sm-8">
                    <textarea name="cfg[contacts_keywords]" id="contacts_keywords" class="form-control">{{ CONFIG.contacts_keywords }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    <h4 class="modal-title" id="addModalLabel">Добавить администратора</h4>
                </div>
                <div class="modal-body">
                    <form method="POST"
                          action="{{ URL }}/dashboard/addAdmin"
                          id="addForm"
                          class="form-horizontal"
                          role="form">
                        <div class="form-group">
                            <label for="login" class="col-sm-2 control-label">Логин</label>
                            <div class="col-sm-10">
                                <input type="text" name="login" class="form-control" id="login" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="col-sm-2 control-label">Пароль</label>
                            <div class="col-sm-10">
                                <input type="text" name="pass" class="form-control" id="pass" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullname" class="col-sm-2 control-label">Имя</label>
                            <div class="col-sm-10">
                                <input type="text" name="fullname" class="form-control" id="fullname" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" form="addForm" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}