<figure class="col-md-4 col-sm-6 wow zoomIn">
    <a href="{{ URL }}/portfolio/{{ album.id }}" class="thumbnail">
        <img src="{{ URL }}/uploads/albums/{{ album.id }}/preview.jpg" class="img-responsive" alt="{{ album.title }}" title="{{ album.description }}">
    </a>
    <figcaption>{{ album.title }}</figcaption>
</figure>