{% extends "layout/layout.html" %}

{% block title %}{{ album.title }} » {{ parent() }}{% endblock %}
{% block description %}{{ album.description|raw }}{% endblock %}
{% block keywords %}{{ album.keywords }}{% endblock %}

{% block metas %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ URL }}/portfolio/{{ album.id }}">
    <meta property="og:image" content="{{ URL }}/uploads/albums/{{ album.id }}/preview.jpg">
{% endblock %}

{% block css %}
    <link href="{{ THEME }}/assets/css/gallery.min.css" rel="stylesheet" type="text/css">
    {% if LOGIN %}
        <link href="{{ THEME }}/assets/css/bootstrap-editable.min.css" rel="stylesheet" type="text/css">
        <link href="{{ THEME }}/assets/css/dropzone.css" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{{ THEME }}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ THEME }}/assets/js/jquery.nanogallery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#gallery").nanoGallery({
                thumbnailWidth: 'auto', thumbnailHeight: 250,
                thumbnailHoverEffect: [{name: 'labelAppear75', duration: 300}],
                theme: 'light',
                thumbnailGutterWidth: -1,
                thumbnailGutterHeight: -1,
                thumbnailLabel: {
                    display: true,
                    position: 'overImageOnMiddle',
                    align: 'center'
                }
            });
        });
    </script>

    {% if LOGIN %}
        <script src="{{ THEME }}/assets/js/bootstrap-editable.min.js"></script>
        <script src="{{ THEME }}/assets/js/dropzone.min.js"></script>
        <script src="{{ THEME }}/assets/js/jquery-ui.min.js"></script>
        <script>
        $(document).ready(function() {
            Dropzone.autoDiscover = false;
            $('.dropzone').dropzone({
                acceptedFiles: 'image/jpeg',
                init: function() {
                    this.on("success", function(file, response) {
                        $('tbody.sortable').prepend(
                                '<tr id="photo_' + response.id + '">'+
                                '<th>'+
                                '<img src="{{ URL }}/uploads/albums/{{ album.id }}/' + response.id + '.jpg" class="img-responsive">'+
                                '</th>'+
                                '<th>'+
                                '<a href="#" id="{{ album.id }}" class="edit" data-pk="' + response.id + '"></a>'+
                                '</th>'+
                                '<th>'+
                                '<button type="button" class="btn btn-danger btn-xs del-photo" id="' + response.id + '">'+
                                '<i class="fa fa-times"></i>'+
                                '</button>'+
                                '<th>'+
                                '</tr>');

                        $('.edit').editable({
                            mode: 'inline',
                            emptytext: 'Без названия',
                            url: '{{ URL }}/portfolio/savePhoto'
                        });

                        $(".sortable").sortable({
                            axis: 'y',
                            opacity: 0.8,
                            cursor: 'move',
                            placeholder: 'tr-placeholder',
                            update: function() {
                                var data = $(this).sortable("serialize");

                                $.post('{{ URL }}/portfolio/order/{{ album.id }}', data);
                            },
                            helper: function(e, ui) {
                                ui.children().each(function() {
                                    $(this).width($(this).width());
                                });
                                return ui;
                            }
                        }).disableSelection();
                    });
                }
//                success: function(file, response){
//                    $('body').html(response.id);
//                }
            });

            $(".edit").editable({
                mode: 'inline',
                emptytext: 'Без названия',
                url: '{{ URL }}/portfolio/savePhoto'
            });

            $('.del-photo').click(function() {
                $(this).closest('tr').fadeTo("normal", 0.3);

                $.post('{{ URL }}/portfolio/delPhoto/{{ album.id }}', {
                    id: $(this).attr('id')
                });
            });

            $(".sortable").sortable({
                axis: 'y',
                opacity: 0.8,
                cursor: 'move',
                placeholder: 'tr-placeholder',
                update: function() {
                    var data = $(this).sortable("serialize");

                    $.post('{{ URL }}/portfolio/order/{{ album.id }}', data);
                },
                helper: function(e, ui) {
                    ui.children().each(function() {
                        $(this).width($(this).width());
                    });
                    return ui;
                }
            }).disableSelection();
        });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <main class="container" itemscope itemtype="http://schema.org/ItemPage">
        <header>
            <h1 itemprop="name" class="page-header">
                {{ album.title }}
                {% if LOGIN %}
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">
                            <i class="fa fa-cog"></i> Редактировать
                        </button>
                        <a class="btn btn-danger btn-sm" href="{{ URL }}/portfolio/delAlbum/{{ album.id }}">
                            <i class="fa fa-trash-o"></i> Удалить
                        </a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#photos">
                            <i class="fa fa-picture-o"></i> Фото
                        </button>
                    </div>
                {% endif %}
            </h1>
        </header>

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul class="breadcrumb">
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/" rel="v:url" property="v:title">
                        {{ CONFIG.home_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/portfolio/" rel="v:url" property="v:title">
                        {{ CONFIG.portfolio_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb" class="active">
                    <a href="{{ URL }}/portfolio/{{ album.id }}/" rel="v:url" property="v:title">
                        {{ album.title|raw }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="hidden" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{{ random([4.3,4.8,5]) }}</span>
            <span itemprop="reviewCount">{{ random([83, 94, 134, 156, 189]) }}</span>
        </div>

        {% if MSG %}
            <div class="alert alert-info">{{ MSG|raw }}</div>
        {% endif %}

        {% if LOGIN %}
            <!-- Dropzone -->
            <form action="{{ URL }}/portfolio/dropPhoto/{{ album.id }}" class="dropzone"></form>
        {% endif %}

        <div class="alert alert-info wow fadeInUp">
            {{ album.body|raw }}
        </div>

        <div id="gallery">
            {% for photo in photos %}
                <a href="{{ URL }}/uploads/albums/{{ album.id }}/{{ photo.id }}.jpg" data-ngThumb="{{ URL }}/uploads/albums/{{ album.id }}/{{ photo.id }}.jpg">{{ photo.title }}</a>
            {% endfor %}
        </div>
    </main>

    {% if LOGIN %}
        <!-- Album edit modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="editModalLabel">Редактировать альбом</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data"
                              method="POST"
                              action="{{ URL }}/portfolio/saveAlbum/{{ album.id }}"
                              id="editForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Название</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="title" value="{{ album.title }}" required>
                                    <p class="help-block">Название альбома</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="preview" class="col-sm-2 control-label">Превью</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                    <input type="file" name="preview" class="form-control" id="preview" accept="image/jpg">
                                    <p class="help-block"><b>jpg</b>, не больше <b>500KB</b> и <b>350x250px</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="body" class="col-sm-2 control-label">Информация</label>
                                <div class="col-sm-10">
                                    <textarea name="body" id="body" class="form-control" rows="3" required>{{ album.body }}</textarea>
                                    <p class="help-block">Выводится на странице с альбомом. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Описание</label>
                                <div class="col-sm-10">
                                    <textarea name="description" id="description" class="form-control" rows="3">{{ album.description }}</textarea>
                                    <p class="help-block"><b>meta</b> тег</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">Кючевые слова</label>
                                <div class="col-sm-10">
                                    <textarea name="keywords" id="keywords" class="form-control" rows="3">{{ album.keywords }}</textarea>
                                    <p class="help-block"><b>meta</b> тег</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="show_main" value="1" {% if album.show_main == '1' %}checked{% endif %}> Показывать на главной
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" form="editForm" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Album edit modal -->

        <!-- Gallery edit modal -->
        <div class="modal fade" id="photos" tabindex="-2" role="dialog" aria-labelledby="photosLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="photosLabel">Редактировать фото</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="15%">Фото</th>
                                        <th>Название</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody class="sortable">
                                    {% for photo in photos %}
                                        <tr id="photo_{{ photo.id }}">
                                            <th>
                                                <img src="{{ URL }}/uploads/albums/{{ album.id }}/{{ photo.id }}.jpg"
                                                     class="img-responsive">
                                            </th>
                                            <th>
                                                <a href="#" id="{{ album.id }}" class="edit" data-pk="{{ photo.id }}">
                                                    {{ photo.title }}
                                                </a>
                                            </th>
                                            <th>
                                                <button type="button" class="btn btn-danger btn-xs del-photo" id="{{ photo.id }}">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Gallery edit modal -->
    {% endif %}
{% endblock %}