<footer class="container wow fadeIn">
    <hr>
    <ul class="list-inline text-center">
        <li><a href="{{ URL }}"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="{{ URL }}/portfolio"><i class="fa fa-picture-o"></i> Портфолио</a></li>
        <li><a href="{{ URL }}/prices"><i class="fa fa-dollar"></i> Цены</a></li>
        <li><a href="{{ URL }}/articles"><i class="fa fa-pencil"></i> Статьи</a></li>
        <li><a href="{{ URL }}/sitemap"><i class="fa fa-sitemap"></i> Карта сайта</a></li>
        <li><a href="{{ URL }}/contacts"><i class="fa fa-phone"></i> Контакты</a></li>
    </ul>
    <div class="text-center">
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=25462010&amp;from=informer"
           target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25462010/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25462010,lang:'ru'});return false}catch(e){}"/></a>
        <!-- /Yandex.Metrika informer -->

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter25462010 = new Ya.Metrika({id:25462010,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n);
                        };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/25462010" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </div>
</footer>