<!DOCTYPE html>
<!--
Copyright 2014 FotoBoom.net. All rights reserved
Site designed and created by AlexMerser (Alex Solomaha) <cyanofresh@gmail.com>
Thanks to: Bootstrap 3, jQuery, jQuery UI, FontAwesome, nanoGALLERY, and other plugins
-->
<html lang="ru-UA" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:description" name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="Алена Соломаха">

        <!-- Open graph -->
        <meta property="og:locale" content="ru_UA">
        <meta property="og:site_name" content="FotoBoom.net">
        <meta property="og:image" content="{{ THEME }}/assets/img/logo.png">
        {% block metas %} {% endblock %}

        <!-- Title -->
        <title property="og:title">{% block title %}Фотограф, фотоуслуги в Киеве и области{% endblock %}</title>

        <!-- CSS -->
        <link href="{{ THEME }}/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ THEME }}/assets/css/animate.css" rel="stylesheet">
        <link href="{{ THEME }}/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ THEME }}/assets/css/main.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&text=FotoBoom" rel="stylesheet">
        {% block css %} {% endblock %}

        <!-- Extra -->
        <link rel="publisher" href="https://plus.google.com/101119680862256780995">
        <link rel="image_src" href="{{ THEME }}/assets/img/logo.png">
        <link rel="shortcut icon" type="image/png" href="{{ URL }}/favicon.ico">
        <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ URL }}/sitemap.xml">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49731886-1', 'auto');
            ga('send', 'pageview');
        </script>

        <!--[if lt IE 9]>
          <script src="{{ THEME }}/assets/js/html5shiv.min.js"></script>
          <script src="{{ THEME }}/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="loader-item">
                <img src="{{ THEME }}/assets/img/preloader.gif" alt="loading...">
            </div>
        </div>
        <!-- /Preloader -->

        <!-- Menu -->
        {% include 'layout/menu.html' %}
        <!-- /Menu -->

        <!-- Body -->
        {% block body %} {% endblock %}
        <!-- /Body -->

        <!-- Footer -->
        {% include 'layout/footer.html' %}
        <!-- /Footer -->

        <!-- Async JavaScript -->
        <script src="{{ THEME }}/assets/js/jquery.min.js"></script>
        <script src="{{ THEME }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ THEME }}/assets/js/wow.min.js"></script>
        <script>
            // WOW animation
            wow = new WOW({
                offset: 150
            });
            wow.init();

            // Preloader
            $(window).load(function() {
                if ($('.preloader').length > 0) {
                    $('.preloader').fadeOut(1000); // set duration in brackets
                }
            });
        </script>
        {% block js %} {% endblock %}
        <!-- /Async JavaScript -->
    </body>
</html>
