<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Раскрыть</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ URL }}">FotoBoom</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li {% if page == 'home' %}class="active"{% endif %}>
                    <a href="{{ URL }}">
                        <i class="fa fa-home"></i> Главная
                    </a>
                </li>
                <li {% if page == 'portfolio' %}class="active"{% endif %}>
                    <a href="{{ URL }}/portfolio">
                        <i class="fa fa-picture-o"></i> Портфолио
                    </a>
                </li>
                <li {% if page == 'prices' %}class="active"{% endif %}>
                    <a href="{{ URL }}/prices">
                        <i class="fa fa-dollar"></i> Цены
                    </a>
                </li>
                <li {% if page == 'articles' %}class="active"{% endif %}>
                    <a href="{{ URL }}/articles">
                        <i class="fa fa-pencil"></i> Статьи
                    </a>
                </li>
                <li {% if page == 'contacts' %}class="active"{% endif %}>
                    <a href="{{ URL }}/contacts">
                        <i class="fa fa-phone"></i> Контакты
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% if LOGIN %}
    <nav class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    <li {% if page == 'dashboard' %}class="active"{% endif %}>
                        <a href="{{ URL }}/dashboard">
                            <i class="fa fa-gears"></i> Админпанель
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> {{ LOGIN }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ URL }}/auth/logout">
                                    <i class="fa fa-lock"></i> Выйти
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}