{% extends "layout/layout.html" %}

{% block title %}Доступ запрещен{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Доступ запрещен</h1>
        <p>Извините, но данная страница запрещенна для просмотра неавторизированными посетителями</p>
    </div>
{% endblock %}