{% extends "layout/layout.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Страница не найдена</h1>
        <p>Извините, но такая страница не существует. В правом верхнем углу сайта есть меню - найдите в нем нужное Вам</p>
    </div>
{% endblock %}