{% extends "layout/layout.html" %}

{% block title %}Серверная ошибка{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Серверная ошибка</h1>
        <p>Извините, но что то пошло не так. Мы уже исправляем эту проблему...</p>
    </div>
{% endblock %}