{% extends "layout/layout.html" %}

{% block title %}Карта сайта{% endblock %}
{% block description %}Карта сайта FotoBoom.net{% endblock %}
{% block keywords %}Карта сайта fotoboom.net{% endblock %}

{% block metas %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ URL }}/sitemap">
{% endblock %}

{% block body %}
    <main class="container">
        <header>
            <h1 class="page-header">
                Карта сайта
            </h1>
        </header>

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul class="breadcrumb" itemprop="breadcrumb">
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/" rel="v:url" property="v:title">
                        {{ CONFIG.home_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb" class="active">
                    <a href="{{ URL }}/sitemap/" rel="v:url" property="v:title">
                        Карта сайта
                    </a>
                </li>
            </ul>
        </div>

        <section>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ URL }}/portfolio">
                        <h3>Альбомы <small>Нашы работы</small></h3>
                    </a>
                    <ul>
                        {% for album in albums %}
                            <li>
                                <a href="{{ URL }}/portfolio/{{ album.id }}">
                                    {{ album.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{{ URL }}/prices">
                        <h3>Услуги <small>Цены на наши услуги</small></h3>
                    </a>
                    <ul>
                        {% for price in prices %}
                            <li>
                                <a href="{{ URL }}/prices/{{ price.id }}">
                                    {{ price.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{{ URL }}/articles">
                        <h3>Статьи <small>Полезные советы и статьи</small></h3>
                    </a>
                    <ul>
                        {% for article in articles %}
                            <li>
                                <a href="{{ URL }}/articles/{{ article.id }}">
                                    {{ article.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{{ URL }}/contacts">
                        <h3>Контакты <small>Свяжитесь с нами</small></h3>
                    </a>
                </li>
            </ul>
        </section>
    </main>

    {% if LOGIN %}
        <!-- Add modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="addModalLabel">Добавить услугу</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data"
                              method="POST"
                              action="{{ URL }}/prices/add"
                              id="addForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Название</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="title" required>
                                    <p class="help-block">Название услуги</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-sm-2 control-label">Стоимость</label>
                                <div class="col-sm-10">
                                    <input type="text" name="price" class="form-control" id="price" required>
                                    <p class="help-block">Стоимость услуги</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo" class="col-sm-2 control-label">Фото</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                    <input type="file" name="photo" class="form-control" id="photo" accept="image/jpeg" required>
                                    <p class="help-block"><b>jpg</b>, <b>512x512px</b>, не больше <b>1MB</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="body" class="col-sm-2 control-label">Содержимое</label>
                                <div class="col-sm-10">
                                    <textarea name="body" id="body" class="form-control" rows="3" required></textarea>
                                    <p class="help-block">Выводится на странице с услугой. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Описание</label>
                                <div class="col-sm-10">
                                    <textarea name="description" id="description" class="form-control" rows="3"></textarea>
                                    <p class="help-block"><b>meta</b> тег. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">Кючевые слова</label>
                                <div class="col-sm-10">
                                    <textarea name="keywords" id="keywords" class="form-control" rows="3"></textarea>
                                    <p class="help-block"><b>meta</b> тег</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="show_main" value="1"> Показывать на главной
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" form="addForm" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add modal -->
    {% endif %}
{% endblock %}