{% extends "layout/layout.html" %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Авторизация</h1>

        <ol class="breadcrumb">
            <li><a href="{{ URL }}">Главная</a></li>
            <li class="active">Авторизация</li>
        </ol>

        {% if MSG %}
            <div class="alert alert-info">{{ MSG }}</div>
        {% endif %}

        <div class="col-md-4 col-md-offset-4">
            <form method="POST"
                  action="{{ URL }}/auth/login"
                  role="form">
                <div class="form-group">
                    <input type="text" name="login" class="form-control" placeholder="Логин" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
                </div>
                <input type="hidden" name="token" value="{{ CSRF }}">
                <input type="submit" name="submit" class="btn btn-primary" value="Войти">
            </form>
        </div>
    </div>
{% endblock %}