{% extends "layout/layout.html" %}

{% block title %}{{ CONFIG.articles_title|raw }} » {{ parent() }}{% endblock %}
{% block description %}{{ CONFIG.articles_description|raw }}{% endblock %}
{% block keywords %}{{ CONFIG.articles_keywords }}{% endblock %}

{% block metas %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ URL }}/articles">
{% endblock %}

{% block js %}
    {% if LOGIN %}
        <script src="{{ THEME }}/assets/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '.tinymce',
                height: 300,
                language: 'ru',
                relative_urls: false,
                plugins: [
                    "advlist autolink autosave link image lists charmap preview hr anchor searchreplace code media table contextmenu paste textcolor colorpicker textpattern responsivefilemanager"
                ],
                toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | preview",
                toolbar3: "responsivefilemanager | forecolor backcolor | table | hr removeformat | subscript superscript | charmap restoredraft",
                menubar: false,
                external_filemanager_path: "{{ URL }}/app/libs/filemanager/",
                filemanager_title: "Загрузить файлы",
                external_plugins: {"filemanager": "{{ URL }}/app/libs/filemanager/plugin.min.js"}
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <main class="container">
        <header>
            <h1 class="page-header">
                Статьи
                {% if LOGIN %}
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">
                        <i class="fa fa-pencil"></i> Добавить
                    </button>
                {% endif %}
            </h1>
        </header>

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul class="breadcrumb" itemprop="breadcrumb">
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/" rel="v:url" property="v:title">
                        {{ CONFIG.home_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb" class="active">
                    <a href="{{ URL }}/articles/" rel="v:url" property="v:title">
                        {{ CONFIG.articles_title|raw }}
                    </a>
                </li>
            </ul>
        </div>

        {% if MSG %}
            <div class="alert alert-info">{{ MSG|raw }}</div>
        {% endif %}

        {% for article in articles %}
            <article class="wow fadeInRight">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ URL }}/uploads/articles/{{ article.id }}.jpg" class="img-responsive thumbnail" alt="{{ article.title }}" title="{{ article.description }}">
                    </div>
                    <div class="col-md-6 article">
                        <header>
                            <h2>
                                <a href="{{ URL }}/articles/{{ article.id }}">
                                    {{ article.title }}
                                </a>
                            </h2>
                            <p class="article-info">
                                <i class="fa fa-calendar"></i> Опубликовано:
                                <time pubdate datetime="{{ article.date|date('Y-m-d H:i') }}">
                                    {{ article.date|date('m-d-Y H:i') }}
                                </time>
                                &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-user"></i> Автор: Алена Соломаха
                            </p>
                        </header>
                        <section class="article-body">
                            {{ article.short|raw }}
                        </section>
                        <section>
                            <a href="{{ URL }}/articles/{{ article.id }}" class="btn btn-sm btn-info">
                                <i class="fa fa-eye"></i> Читать дальше
                            </a>
                        </section>
                    </div>
                </div>
            </article>
        {% endfor %}
    </main>

    {% if LOGIN %}
        <!-- Add modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="addModalLabel">Добавить статью</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data"
                              method="POST"
                              action="{{ URL }}/articles/add"
                              id="addForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Заголовок</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="title" required>
                                    <p class="help-block">Название статьи</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="short" class="col-sm-2 control-label">Краткое содержимое</label>
                                <div class="col-sm-10">
                                    <textarea name="short" id="short" class="form-control tinymce"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="full" class="col-sm-2 control-label">Содержимое</label>
                                <div class="col-sm-10">
                                    <textarea name="full" id="full" class="form-control tinymce"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo" class="col-sm-2 control-label">Фото</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                    <input type="file" name="photo" class="form-control" id="photo" accept="image/jpeg" required>
                                    <p class="help-block"><b>jpg</b>, не больше <b>500KB</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Описание</label>
                                <div class="col-sm-10">
                                    <textarea name="description" id="description" class="form-control" rows="3"></textarea>
                                    <p class="help-block"><b>meta</b> тег. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">Кючевые слова</label>
                                <div class="col-sm-10">
                                    <textarea name="keywords" id="keywords" class="form-control" rows="3"></textarea>
                                    <p class="help-block"><b>meta</b> тег</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" form="addForm" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add modal -->
    {% endif %}
{% endblock %}