{% extends "layout/layout.html" %}

{% block title %}{{ article.title }} » {{ parent() }}{% endblock %}
{% block description %}{{ article.description|raw }}{% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}

{% block metas %}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ URL }}/articles/{{ article.id }}">
    <meta property="article:published_time" content="{{ article.date|date('Y-m-d') }}">
    <meta property="article:author" content="alikoshkina">
    <link rel="author" href="https://plus.google.com/101119680862256780995">
{% endblock %}

{% block js %}
    {% if LOGIN %}
        <script src="{{ THEME }}/assets/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '.tinymce',
                height: 300,
                language: 'ru',
                relative_urls: false,
                plugins: [
                    "advlist autolink autosave link image lists charmap preview hr anchor searchreplace code media table contextmenu paste textcolor colorpicker textpattern responsivefilemanager"
                ],
                toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | preview",
                toolbar3: "responsivefilemanager | forecolor backcolor | table | hr removeformat | subscript superscript | charmap restoredraft",
                menubar: false,
                external_filemanager_path: "{{ URL }}/app/libs/filemanager/",
                filemanager_title: "Загрузить файлы",
                external_plugins: {"filemanager": "{{ URL }}/app/libs/filemanager/plugin.min.js"}
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <main class="container">
        <article itemscope itemtype="http://schema.org/Article">
            <header>
                <h1 itemprop="name" class="page-header">
                    {{ article.title }}
                    {% if LOGIN %}
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-cog"></i> Редактировать
                            </button>
                            <a class="btn btn-danger btn-sm" href="{{ URL }}/articles/delete/{{ article.id }}">
                                <i class="fa fa-trash-o"></i> Удалить
                            </a>
                        </div>
                    {% endif %}
                </h1>
            </header>

            <div class="hidden" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span itemprop="ratingValue">{{ random([4.3,4.8,5]) }}</span>
                <span itemprop="reviewCount">{{ random([83, 94, 134, 156, 189]) }}</span>
            </div>

            <div xmlns:v="http://rdf.data-vocabulary.org/#">
                <ul class="breadcrumb">
                    <li typeof="v:Breadcrumb">
                        <a href="{{ URL }}/" rel="v:url" property="v:title">
                            {{ CONFIG.home_title|raw }}
                        </a>
                    </li>
                    <li typeof="v:Breadcrumb">
                        <a href="{{ URL }}/articles/" rel="v:url" property="v:title">
                            {{ CONFIG.articles_title|raw }}
                        </a>
                    </li>
                    <li typeof="v:Breadcrumb" class="active">
                        <a href="{{ URL }}/articles/{{ article.id }}/" rel="v:url" property="v:title">
                            {{ article.title|raw }}
                        </a>
                    </li>
                </ul>
            </div>

            {% if MSG %}
                <div class="alert alert-info">{{ MSG }}</div>
            {% endif %}

            <p class="article-info wow fadeInLeft">
                <i class="fa fa-calendar"></i> Опубликовано: <time pubdate datetime="{{ article.date|date('Y-m-d') }}" itemprop="datePublished">{{ article.date|date('m-d-Y H:i') }}</time>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-user"></i> Автор: <span itemprop="author">Алена Соломаха</span>
            </p>

            <!-- Article image -->
            <img itemprop="image" class="article-image img-responsive wow fadeInRight" src="{{ URL }}/uploads/articles/{{ article.id }}.jpg" alt="{{ article.title }}" title="{{ article.description }}">
            <!-- /Article image -->

            <!-- Article body -->
            <section itemprop="articleBody">
                <div class="wow fadeInLeft">
                    {{ article.full|raw }}
                </div>
            </section>
            <!-- /Article body -->
        </article>
    </main>

    {% if LOGIN %}
        <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="editModalLabel">Редактировать статью</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data"
                              method="POST"
                              action="{{ URL }}/articles/save/{{ article.id }}"
                              id="editForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Заголовок</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="title" value="{{ article.title }}" required>
                                    <p class="help-block">Название статьи</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="short" class="col-sm-2 control-label">Краткое содержимое</label>
                                <div class="col-sm-10">
                                    <textarea name="short" id="short" class="form-control tinymce">{{ article.short }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="full" class="col-sm-2 control-label">Содержимое</label>
                                <div class="col-sm-10">
                                    <textarea name="full" id="full" class="form-control tinymce">{{ article.full }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo" class="col-sm-2 control-label">Фото</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                    <input type="file" name="photo" class="form-control" id="photo" accept="image/jpeg">
                                    <p class="help-block"><b>jpg</b>, не больше <b>500KB</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Описание</label>
                                <div class="col-sm-10">
                                    <textarea name="description" id="description" class="form-control" rows="3">{{ article.description|raw }}</textarea>
                                    <p class="help-block"><b>meta</b> тег. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">Кючевые слова</label>
                                <div class="col-sm-10">
                                    <textarea name="keywords" id="keywords" class="form-control" rows="3">{{ article.keywords }}</textarea>
                                    <p class="help-block"><b>meta</b> тег</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" form="editForm" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Modal -->
    {% endif %}
{% endblock %}