<div class="featurette wow fadeInRight">
    <img class="featurette-image img-circle img-responsive
         {% if loop.index in [2, 4, 6, 8] %}pull-left fadeInLeft{% else %}pull-right{% endif %}"
         src="{{ URL }}/uploads/prices/{{ price.id }}.jpg"
         alt="{{ price.title }}"
         title="{{ price.description }}">

    <h2 class="featurette-heading">
        {{ price.title }}
        <br>
        <small>{{ price.price }} {{ price.append }}</small>
    </h2>

    <p class="lead">{{ price.body|raw }}</p>
    <a href="{{ URL }}/prices/{{ price.id }}" class="btn btn-primary">
        <i class="fa fa-arrow-right"></i> Подробнее
    </a>
</div>

{% if not loop.last %}<hr class="featurette-divider">{% endif %}