{% extends "layout/layout.html" %}

{% block title %}{{ price.title }} » {{ parent() }}{% endblock %}
{% block description %}{{ price.description|raw }}{% endblock %}
{% block keywords %}{{ price.keywords }}{% endblock %}

{% block metas %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ URL }}/prices/{{ price.id }}">
    <meta property="og:image" content="{{ URL }}/uploads/prices/{{ price.id }}.jpg">
{% endblock %}

{% block body %}
    <main class="container" itemscope itemtype="http://schema.org/Product">
        <header>
            <h1 class="page-header">
                <span itemprop="name">{{ price.title }}</span>
                <small itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <span itemprop="price">{{ price.price }}</span>
                    <meta itemprop="priceCurrency" content="UAH">
                    {{ price.append }}
                </small>
                {% if LOGIN %}
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">
                            <i class="fa fa-cog"></i> Редактировать
                        </button>
                        <a class="btn btn-danger btn-sm" href="{{ URL }}/prices/delete/{{ price.id }}">
                            <i class="fa fa-trash-o"></i> Удалить
                        </a>
                    </div>
                {% endif %}
            </h1>
        </header>

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul class="breadcrumb" itemprop="breadcrumb">
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/" rel="v:url" property="v:title">
                        {{ CONFIG.home_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/prices/" rel="v:url" property="v:title">
                        {{ CONFIG.prices_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb" class="active">
                    <a href="{{ URL }}/prices/{{ price.id }}/" rel="v:url" property="v:title">
                        {{ price.title }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="hidden" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{{ random([4.3,4.8,5]) }}</span>
            <span itemprop="reviewCount">{{ random([83, 94, 134, 156, 189]) }}</span>
        </div>

        {% if MSG %}
            <div class="alert alert-info">{{ MSG }}</div>
        {% endif %}

        <section>
            <img itemprop="image" class="img-responsive center-block img-thumbnail wow fadeInRight" src="{{ URL }}/uploads/prices/{{ price.id }}.jpg">
            <hr>
            <p itemprop="description" class="text-center wow fadeInLeft">{{ price.body|raw }}</p>
            <hr>
            <a class="btn btn-primary btn-block wow fadeInRight" href="{{ URL }}/contacts">
                <i class="fa fa-phone"></i> Свяжитесь с нами
            </a>
        </section>
    </main>

    {% if LOGIN %}
        <!-- Edit modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="editModalLabel">Редактировать услугу</h4>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data"
                              method="POST"
                              action="{{ URL }}/prices/save/{{ price.id }}"
                              id="editForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Название</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="title" value="{{ price.title }}" required>
                                    <p class="help-block">Название услуги</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-sm-2 control-label">Стоимость</label>
                                <div class="col-sm-10">
                                    <input type="number" name="price" class="form-control" id="price" value="{{ price.price }}" required>
                                    <p class="help-block">Стоимость услуги в UAH</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="append" class="col-sm-2 control-label">Суффикс</label>
                                <div class="col-sm-10">
                                    <input type="text" name="append" class="form-control" id="append" value="{{ price.append }}">
                                    <p class="help-block">Суффикс стоимости услуги. Пример: грн\час</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="photo" class="col-sm-2 control-label">Фото</label>
                                <div class="col-sm-10">
                                    <input type="hidden" name="MAX_FILE_SIZE" value="500000">
                                    <input type="file" name="photo" class="form-control" id="photo" accept="image/jpeg">
                                    <p class="help-block"><b>jpg</b>, <b>512x512px</b>, не больше <b>1MB</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="body" class="col-sm-2 control-label">Содержимое</label>
                                <div class="col-sm-10">
                                    <textarea name="body" id="body" class="form-control" rows="9" required>{{ price.body }}</textarea>
                                    <p class="help-block">Выводится на странице с услугой. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Описание</label>
                                <div class="col-sm-10">
                                    <textarea name="description" id="description" class="form-control" rows="3">{{ price.description }}</textarea>
                                    <p class="help-block"><b>meta</b> тег. Разрешен <b>HTML</b></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="keywords" class="col-sm-2 control-label">Кючевые слова</label>
                                <div class="col-sm-10">
                                    <textarea name="keywords" id="keywords" class="form-control" rows="3">{{ price.keywords }}</textarea>
                                    <p class="help-block"><b>meta</b> тег</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="show_main" value="1" {% if price.show_main == '1' %}checked{% endif %}> Показывать на главной
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" form="editForm" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit modal -->
    {% endif %}
{% endblock %}