{% extends "layout/layout.html" %}

{% block title %}{{ CONFIG.contacts_title|raw }} » {{ parent() }}{% endblock %}
{% block description %}{{ CONFIG.contacts_description|raw }}{% endblock %}
{% block keywords %}{{ CONFIG.contacts_keywords }}{% endblock %}

{% block metas %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ URL }}/contacts">
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#inputEmail').change(function() {
                var email = $(this).val();

                if (email !== '') {
                    $('#selectReplyTo #email').html(email);
                } else {
                    $('#selectReplyTo #email').html('Email');
                }
            });

            $('#inputTel').change(function() {
                var phone = $(this).val();

                if (phone !== '') {
                    $('#selectReplyTo #phone').html(phone);
                } else {
                    $('#selectReplyTo #phone').html('Телефон');
                }
            });

            $('#contact-form').submit(function(event) {
                // Prevent form submitting
                event.preventDefault();

                // Set loading state to the button
                $('#contact-submit').button('loading');

                // Send ajax request
                $.post('{{ URL }}/contacts/xhrSend', $(this).serialize(), function(data) {
                    // Show modal with message
                    $('#message .modal-body').html(data[0]);
                    $('#message').modal('show');
                    // Reset loading state
                    $('#contact-submit').button('reset');
                    // Reload recpatcha
                    Recaptcha.reload();

                    // If error - don't reload the form
                    if (!data[1]) {
                        document.getElementById('contact-form').reset();
                    }
                }, 'json');
            });
        });
    </script>
{% endblock %}

{% block body %}
    <main class="container">
        <header class="page-header">
            <h1>Контакты</h1>
        </header>

        <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul class="breadcrumb" itemprop="breadcrumb">
                <li typeof="v:Breadcrumb">
                    <a href="{{ URL }}/" rel="v:url" property="v:title">
                        {{ CONFIG.home_title|raw }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb" class="active">
                    <a href="{{ URL }}/prices/" rel="v:url" property="v:title">
                        {{ CONFIG.contacts_title|raw }}
                    </a>
                </li>
            </ul>
        </div>

        {% if MSG %}
            <div class="alert alert-warning">{{ MSG|raw }}</div>
        {% endif %}

        <section>
            <div class="alert alert-info wow fadeInUp">
                Свяжитесь с нами одними из удобных для Вас способом: воспользуйтесь, пожалуйста, контактными данными справа или оставьте нам сообщение, заполнив форму ниже
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <!-- Contact Form -->
                    <form method="POST"
                          action="{{ URL }}/contacts/send"
                          id="contact-form"
                          class="form-horizontal wow fadeInLeft"
                          role="form">
                        <div class="form-group">
                            <label for="selectAction" class="col-sm-2 control-label">Что хотите</label>
                            <div class="col-sm-10">
                                <select name="action" class="form-control" id="selectAction">
                                    <option selected>Заказать услугу</option>
                                    <option>Задать вопрос</option>
                                    <option>Оставить отзыв</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Ваше имя *</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" id="inputName" placeholder="Ф.И.О" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Ваш email *</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="example@gmail.com" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTel" class="col-sm-2 control-label">Ваш телефон</label>
                            <div class="col-sm-10">
                                <input type="tel" name="phone" class="form-control" id="inputTel" placeholder="+38 000 000 00 00">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="areaMsg" class="col-sm-2 control-label">Сообщение *</label>
                            <div class="col-sm-10">
                                <textarea name="msg" class="form-control" id="areaMsg" rows="4" placeholder="Хочу..." required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectFound" class="col-sm-2 control-label">Как нашли нас</label>
                            <div class="col-sm-10">
                                <select name="found" class="form-control" id="selectFound">
                                    <option selected>--- Не выбрано ---</option>
                                    <option>Нашел(ла) в Google</option>
                                    <option>Нашел(ла) в Yandex</option>
                                    <option>Посоветовал друг</option>
                                    <option>С визитки\реклама</option>
                                    <option>Нашел(ла) в соц. сетях</option>
                                    <option>Другое</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectReplyTo" class="col-sm-2 control-label">Ответить на</label>
                            <div class="col-sm-10">
                                <select name="replyTo" id="selectReplyTo" class="form-control">
                                    <option id="email">Email</option>
                                    <option id="phone">Телефон</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="captcha" class="col-sm-2 control-label">Введите код</label>
                            <div class="col-sm-10">
                                {{ captcha|raw }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="contact-submit" data-loading-text="Отправка..." class="btn btn-primary">
                                    <i class="fa fa-paper-plane"></i> Отправить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /Contact Form -->

                <!-- Contacts -->
                <div class="col-sm-4" itemscope itemtype="http://schema.org/Person">
                    <address class="wow fadeInRight">
                        <h3 itemprop="name">Алена</h3><br>

                        <i class="fa fa-phone"></i>
                        <span itemprop="telephone">+380687108559</span><br>

                        <i class="fa fa-paper-plane"></i>
                        <a itemprop="email" href="mailto:info@fotoboom.net">info@fotoboom.net</a><br>

                        <i class="fa fa-home"></i>
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="addressLocality">Киев, г. Ирпень, Киевская область</span>
                        </span>
                    </address>

                    <div class="social wow fadeInUp">
                            <a href="http://vk.com/alikosinka" target="_blank" itemprop="url">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="http://www.facebook.com/alikoshkina" target="_blank" itemprop="url">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="http://twitter.com/Alikosinka_2014" target="_blank" itemprop="url">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a href="skype:alikosinkabyka?add" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                </div>
            </div>
            <!-- /Contacts -->
        </section>
    </main>

    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Закрыть</span>
                    </button>
                    <h4 class="modal-title" id="messageLabel">Спасибо за обращение</h4>
                </div>

                <div class="modal-body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}